* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif !important;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.i1 {
  margin-top: 15px;
}
.pii {
  cursor: pointer;
}
.pii:hover {
  color: rgb(96, 95, 95);
  transition: 0.5s;
}
.first p .i1 {
  position: relative;
  top: 200px;
}
.first {
  display: flex;
  gap: 25px;
  margin-left: 60px;
}
.big {
  display: flex;
}
.second {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  margin-left: 300px;
}
.first {
  margin-top: 20px;
}
.mini {
  display: flex;
  gap: 5px;
  position: relative;
  left: 20px;
}

.but {
  width: 145px;
  height: 40px;
  background-color: rgb(255, 197, 73);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  left: 28px;
  top: -8px;
  border: 1px solid var(--text-in-field, #ffffff);
}
.but1 {
  width: 150px;
  height: 45px;
  background-color: rgb(255, 197, 73);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  top: 50px;
  margin-left: 30px;
  border: 1px solid var(--text-in-field, #ffffff);
}
.but1:hover {
  background-color: #ffa600;
  transition: 0.7s;
}
.third {
  display: flex;
  gap: 40px;
  margin-left: 169px;
  margin-top: -35px;
}
.hr-1 {
  margin-top: 30px;
}

.firmain {
  margin-top: 100px;
  display: flex;
}
.i2 {
  width: 750px;
  margin-left: -20px;
}
.oburger h1 {
  text-align: center;
  margin-left: 20px;
}
.oburger p {
  color: #606060;
  position: relative;
  margin-left: 30px;
}
.p1 {
  margin-top: 15px;
}
.a1 {
  text-decoration: none;
  color: black;
}
.ofree {
  display: flex;
  margin-top: 230px;
}

.h2 {
  font-size: 30px;
  margin-left: 50px;
  margin-top: 15px;
}

.p2 {
  margin-left: 30px;
  margin-top: 30px;
}
.p3 {
  font-size: 12px;
  margin-left: 30px;
  margin-top: 50px;
}
.but2 {
  width: 170px;
  height: 50px;
  background-color: rgb(255, 197, 73);
  border-radius: 8px;
  cursor: pointer;
  margin-left: 760px;
  margin-top: 10px;
  border: 1px solid var(--text-in-field, #ffffff);
}
.but2:hover {
  background-color: #ffa600;
  transition: 0.7s;
}
.i2:hover {
  transform: scale(0.9);
  transition: 0.5s;
}
.delivery {
  margin-top: 200px;
  display: flex;
}
.delivery-h {
  font-size: 36px;
  width: 390px;
  margin-left: 30px;
  margin-top: 10px;
}
.delivery-p {
  margin-left: 30px;
}
.but3 {
  width: 200px;
  height: 45px;
  background-color: rgb(255, 197, 73);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  top: 50px;
  margin-left: 30px;
  border: 1px solid var(--text-in-field, #ffffff);
}
.but3:hover {
  background-color: #ffa600;
  transition: 0.7s;
}

/*  */

.deals {
  margin-top: 200px;
  display: flex;
}
.deals-h {
  margin-top: 15px;
  font-size: 36px;
  width: 390px;
  margin-left: 30px;
}
.deals-p {
  margin-left: 30px;
  margin-top: 10px;
}

/* FOOTER-1 */

.footBig {
  display: flex;
  gap: 140px;
  justify-content: center;
  margin-top: 150px;
}
.foot-1 p {
  margin-top: 15px;
}
.foot-1 h3 {
  margin-bottom: 25px;
}

/*  */

.foot-2 {
  margin-left: 50px;
}
.foot-2 p {
  margin-top: 15px;
}
.foot-2 h3 {
  margin-bottom: 25px;
}

/*  */

.foot-3 p {
  margin-top: 15px;
  max-width: 230px;
}
.foot-3 h3 {
  margin-bottom: 25px;
}

/*  */

.foot-4 p {
  margin-top: 15px;
}
.foot-4 h3 {
  margin-bottom: 25px;
}

/* FOOTER-2 */

.footBig2 {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
.footBig2 svg {
  width: 35px;
}

.download {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: 510px;
}
